.dash-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dash-nav{
    height: 10vh;
    width: 100%;
}
.details{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 10px #888888;
}
.dash-btn{
    width: 5rem;
    margin-left: 20px;
}