input{
    width: 250px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    width: 130px;
    height: 30px;
}
.home-left ,.home-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--para);
     
}